{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/style/{{basestyle}}" rel="stylesheet">
    <title>Melotonin</title>
</head>
<body>
    <nav class="container">
        <div class="sidenav">
            <a href="" class="home">
                <svg id="home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 982.42 750.73"><path id="roof" class="cls-1" d="M83.79,500.11,350.68,257.42c82-74.55,216.66-74.55,298.64,0L916.21,500.11" transform="translate(-8.79 -126.51)"/><polyline id="base" class="cls-2" points="188.1 278.73 188.1 685.73 797.63 685.73 797.63 278.73"/></svg>
            </a>
            <a href="#" class="playlist">
                <svg id="playlist" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 866.15 860.39"><path id="note-stick" class="cls-1" d="M483.8,580.26,391.52,266.45a31.27,31.27,0,0,1-1-13.36c7.19-48.43,79.4-44.18,92.47-10a34.64,34.64,0,0,0,2,4.39c25.41,45.78-9,106.15,142.48,95.27" transform="translate(-66.92 -69.8)"/><g><circle id="blob" class="cls-2" cx="341.96" cy="520.88" r="85.84"/></g><path id="rectangle_2" data-name="rectangle 2" class="cls-3" d="M861.46,192.81H804.31V141.42a44.67,44.67,0,0,0-44.67-44.67H138.54a44.67,44.67,0,0,0-44.67,44.67v621.1a44.67,44.67,0,0,0,44.67,44.67h57.15v51.39a44.67,44.67,0,0,0,44.67,44.67h621.1a44.67,44.67,0,0,0,44.67-44.67V237.48A44.67,44.67,0,0,0,861.46,192.81Z" transform="translate(-66.92 -69.8)"/><rect id="rectangle_1" data-name="rectangle 1" class="cls-3" x="26.95" y="26.95" width="710.43" height="710.43" rx="49.72"/></svg>
            </a>
        </div>
        <div class="searchbar">
            <input type="text">
        </div>
    </nav>
</body>
</html>